:root, [data-bs-theme=light] {
  --bs-primary: #3b82f6;
  --bs-primary-rgb: 59,130,246;
  --bs-primary-text-emphasis: #183462;
  --bs-primary-bg-subtle: #D8E6FD;
  --bs-primary-border-subtle: #B1CDFB;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #3b82f6;
  --bs-btn-border-color: #3b82f6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #5895F7;
  --bs-btn-hover-border-color: #4F8FF7;
  --bs-btn-focus-shadow-rgb: 9,20,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #629BF8;
  --bs-btn-active-border-color: #4F8FF7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3b82f6;
  --bs-btn-disabled-border-color: #3b82f6;
}

.btn-outline-primary {
  --bs-btn-color: #3b82f6;
  --bs-btn-border-color: #3b82f6;
  --bs-btn-focus-shadow-rgb: 59,130,246;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3b82f6;
  --bs-btn-hover-border-color: #3b82f6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3b82f6;
  --bs-btn-active-border-color: #3b82f6;
  --bs-btn-disabled-color: #3b82f6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3b82f6;
}

